DeepFace.py~
Readme~
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
commons/functions.py~
commons/realtime.py~
commons/__pycache__/
detectors/FaceDetector.py~
detectors/OpenCvWrapper.py~
.idea/deepface.iml
.idea/.gitignore
.vscode/launch.json
.idea/
workspace.code-workspace
__pycache__/
/__pycache__/
basemodels/__pycache__/
commons/__pycache__/
detectors/__pycache__/
extendedmodels/__pycache__/
__pycache__/__init__.cpython-38.pyc
basemodels/__pycache__/__init__.cpython-38.pyc
basemodels/__pycache__/ArcFace.cpython-38.pyc
basemodels/__pycache__/Boosting.cpython-38.pyc
basemodels/__pycache__/DeepID.cpython-38.pyc
basemodels/__pycache__/DlibResNet.cpython-38.pyc
basemodels/__pycache__/DlibWrapper.cpython-38.pyc
basemodels/__pycache__/Facenet.cpython-38.pyc
basemodels/__pycache__/Facenet512.cpython-38.pyc
basemodels/__pycache__/FbDeepFace.cpython-38.pyc
basemodels/__pycache__/OpenFace.cpython-38.pyc
basemodels/__pycache__/VGGFace.cpython-38.pyc
commons/__pycache__/__init__.cpython-38.pyc
commons/__pycache__/distance.cpython-38.pyc
detectors/__pycache__/__init__.cpython-38.pyc
detectors/__pycache__/DlibWrapper.cpython-38.pyc
detectors/__pycache__/FaceDetector.cpython-38.pyc
detectors/__pycache__/MtcnnWrapper.cpython-38.pyc
detectors/__pycache__/OpenCvWrapper.cpython-38.pyc
detectors/__pycache__/RetinaFaceWrapper.cpython-38.pyc
detectors/__pycache__/SsdWrapper.cpython-38.pyc
extendedmodels/__pycache__/__init__.cpython-38.pyc
extendedmodels/__pycache__/Age.cpython-38.pyc
extendedmodels/__pycache__/Emotion.cpython-38.pyc
extendedmodels/__pycache__/Gender.cpython-38.pyc
extendedmodels/__pycache__/Race.cpython-38.pyc
